language: python
python:
  - "3.3"
  - "3.4"

# database and flake8
before_script:
  - pip install -r requirements-testing.txt
  - pip install coveralls

# command to run tests
script:
  - nosetests --with-coverage

after_success: coveralls